<% layout('/layouts/boilerPlate') %>
<body>
  <div class="row offset-2 ">

    <div class="col-8 offset-2 mt-3">
      <h4> <b> Listing Details </b> </h4>
    </div>

    <div class="card offset-2 col-5 " >
      <img
        src="<%= Listings.image %>"
        class="card-img-top show-img "
        alt="Listing image"
      />
      <div class="card-body mt-3">
        <h5 class="card-title"><%= Listings.title %></h5>
        <p class="card-text">
          <%= Listings.description %>
          <br />
          &#8377; <%= Listings.price %> <br />
          <%= Listings.location %> <br />
          <%= Listings.country %>
        </p>

        <div class="btns">
          <a href="/Listings/<%= Listings._id %>/edit" class="btn add-btn col-3 ">
            Edit</a
          >
          <form
            action="/Listings/<%= Listings._id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-dark offset-2">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</body>
